/* Allgemeine Stile für die Webseite */
body {
    font-family: 'Arial';
    background-color: #F5F5F5;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Verhindert Scrollen */
}

/* Kopfbereich */
header {
    width: 100%;
    background-color: #F5F5F5;
    color: black;
    margin-top: 0.5%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Innerer Header, um Flexbox für zwei Teile zu ermöglichen */
.header-inner {
    display: flex;
    width: 99%;
    justify-content: space-between;
}

/* Linker Teil des Headers, für Logo */
.header-left {
    display: flex;
    justify-content: center;  /* Horizontale Zentrierung */
    align-items: center;      /* Vertikale Zentrierung */
    min-width: 9.5%; /* Gleiche Breite wie vorher */
}   

.header-right {
    display: flex;
    align-items: center;
    width: 90.5%;
    justify-content: space-between; /* Verteile den Platz zwischen den beiden Gruppen */
}

/* Container für Titel und Untertitel */
.header-text-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

/* Container für Buttons */
.header-buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto; /* Lässt den Platz nach den Buttons wachsen */
}


/* Container für Profil */
.profile-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-right: 20px;
}

/* Logo */
.header-image {
    width: 2vw;
    height: auto;
}

/* Titel im Header */
.header-title {
    font-size: 1vw;
    font-weight: bold;
    line-height: 1;
}

/* Sub-Header */
.header-subtitle {
    font-size: 0.8vw;
    color: black;
}

/* Button im Header */
.header-button {
    display: flex;
    align-items: center;
    padding: 1vh 1.5vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.6vw;
    margin-left: 8px;
    margin-right: 40px;
}


.header-button:hover, .header-button2:hover {
    background-color: #d8d8d8;
    color: black
}

/* Icon im Button */
.button-icon {
    width: 1vw;
    height: 1vw;
    margin-right: 8px;
}

/* Profilbereich */
.profile-image {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}

.refresh-icon {
    width: 1.5vw;
    height: 1.5vw;}

/* Textinformationen im Profilbereich */
.profile-text {
    text-align: right;
}

.profile-name {
    font-size: 0.8vw;
    font-weight: bolder;
}

.profile-name2 {
    font-size: 0.8vw;
    font-weight: normal;
}

.transparent-button {
    background-color: transparent;
    border: none;
    min-width: 5vw;
    min-height: 5vw;
    cursor: pointer;
    position: absolute; /* Positionierung anpassen, wenn nötig */
    top: 0%; /* Vertikale Position */
    right: 0px; /* Abstand vom rechten Rand */
    transform: translateY(-50%); /* Zentriert vertikal */
}

/* Hauptcontainer für das Layout */
.main-container {
    display: flex;
    height: calc(100vh - 80px);
    overflow: hidden;
}

/* Linker Bereich mit Menü */
.menu {
    width: 8vw; /* 10% der Breite des Viewports */
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: calc(100vh - 9vh); /* Höhe, die von der Kopfzeile abgezogen wird */
}

/* Für Webkit-Browser (Chrome, Safari) */
.menu::-webkit-scrollbar {
    display: none;
}

/* Menü-Elemente */
.menu-item {
    background-color: white;
    border-radius: 0.7vw; /* 24px (schätzung) */
    margin: 0.5vh 0; /* 8px (schätzung) */
    text-align: center;
    transition: background-color 0.3s;
    width: 5vw; /* Breite des Menü-Elements */
    height: 5vw; /* Höhe des Menü-Elements */
    min-height: 5vw; /* Mindesthöhe des Menü-Elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative; /* Ermöglicht absolute Positionierung des Buttons */
}

.menu-item:hover {
    background-color: #d8d8d8;
}

.menu-item.active {
    background-color: #d8d8d8; /* Hintergrundfarbe für aktives Element */
    color: white; /* Schriftfarbe für aktives Element */
}


/* Icons im Menü */
.menu-icon {
    width: 1.6vw; /* Breite des Icons */
    height: auto; /* Höhe automatisch, um das Seitenverhältnis beizubehalten */
    
}

/* Links im Menü */
.menu a {
    text-decoration: none;
    color: black;
    font-size: 0.6vw; /* Schriftgröße für Links */
    display: block;
    margin-top: 0.5vh; /* Abstand über den Links */
}

/* Transparent Button über Menüelementen */
.menu-button {
    position: absolute; /* Absolute Positionierung */
    top: 0; /* An den oberen Rand des Menüelements */
    left: 0; /* An den linken Rand des Menüelements */
    right: 0; /* An den rechten Rand des Menüelements */
    bottom: 0; /* An den unteren Rand des Menüelements */
    background-color: transparent; /* Transparent */
    border: none; /* Kein Rahmen */
    cursor: pointer; /* Zeiger-Cursor, um anzuzeigen, dass es klickbar ist */
    z-index: 1; /* Sicherstellen, dass der Button über dem Menüelement liegt */
}

button:disabled {
    background-color: rgba(232, 232, 232, 0.7); /* Weiß mit 50% Transparenz */
    border-radius: 0.5vw; /* Dynamische Rundung in % */
    color: rgba(102, 102, 102, 0.5); /* Dunklere Schriftfarbe mit 50% Transparenz */
    cursor: not-allowed; /* Cursor anzeigen, um zu zeigen, dass der Button nicht klickbar ist */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Rahmen mit 30% Transparenz */
}


/* Container für den I-Frame */
.iframe-container {
    flex-grow: 1;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    width: 100%;
}

.iframe-container::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 Verhältnis (9 / 16 = 0.5625, also 56.25%) */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: rem; /* Runde Ecken für modernes Design */
}


.overlay {
    position: fixed; /* Fixiert das Overlay */
    top: 0;
    left: 0;
    font-size: medium;
    width: 100%; /* Breite des Overlays */
    height: 100%; /* Höhe des Overlays */
    background-color: rgba(0, 0, 0, 0.7); /* Halbdurchsichtiger Hintergrund */
    display: flex; /* Flexbox für Zentrierung */
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    z-index: 1000; /* Über anderen Inhalten */
}

.popup-content {
    background-color: white; /* Hintergrund des Popups */
    padding: 1.25rem 1.25rem; /* Innenabstand oben/unten und links/rechts */
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2); /* Schatten für das Popup */
    width: 25rem; /* 400px */
    height: 31.25rem; /* 500px */
    text-align: center; /* Text zentrieren */
}

#link-field {
    width: calc(100% - 1.25rem); /* Breite des Eingabefelds unter Berücksichtigung des Innenabstands */
    height: 2.1875rem; /* 35px */
    margin-top: 1.25rem; /* Abstand oben */
    padding: 0 0.625rem; /* Innenabstand */
    margin-bottom: 0.9375rem; /* Abstand nach unten */
    border: 1px solid #D0CFCE; /* Rahmen des Eingabefelds */
    outline: none; /* Entfernt den Standard-Fokus-Rahmen */
}

#copy-link {
    width: 100%; /* Breite des Buttons */
    height: 2.5rem; /* 40px */
    background-color: black; /* Schwarzer Hintergrund */
    color: white; /* Weiße Schrift */
    border: none; /* Kein Rahmen */
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer; /* Zeiger für den Cursor */
    margin-bottom: 0.625rem; /* Abstand zum Schließen-Button */
}

#copy-link:hover {
    background-color: #333; /* Dunklerer Hintergrund beim Überfahren */
}

#close-popup {
    width: 100%; /* Breite des Buttons */
    height: 2.5rem; /* 40px */
    background-color: transparent; /* Transparenter Hintergrund */
    color: black; /* Schwarze Schrift */
    border: 0.125rem solid black; /* Schwarzer Rahmen */
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer; /* Zeiger für den Cursor */
}

#close-popup:hover {
    background-color: #f0f0f0; /* Heller Hintergrund beim Überfahren */
}

/* Icon im Button */
.ms-icon {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    margin-top: 1.25rem; /* 20px */
}

.ms-download {
    width: 5rem; /* 80px */
    height: 6.25rem; /* 100px */
    margin-top: 2.5rem; /* 40px */
}

/* Toggle Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 3vw; /* 50px umgerechnet und verkleinert */
    height: 1.5vw; /* 25px umgerechnet und verkleinert */
    margin: 0 0.4vw; /* 10px umgerechnet und verkleinert */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 1.5vw; /* 25px umgerechnet und verkleinert */
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.25vw; /* 20px umgerechnet und verkleinert */
    width: 1.25vw; /* 20px umgerechnet und verkleinert */
    left: 0.15vw; /* 2px umgerechnet und verkleinert */
    bottom: 0.15vw; /* 2px umgerechnet und verkleinert */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black; /* Farbe, wenn der Toggle aktiviert ist */
}

input:checked + .slider:before {
    transform: translateX(1.5vw); /* Bewegung des Schiebereglers (25px umgerechnet und verkleinert) */
}

/* Container für den Toggle und die Icons */
.toggle-container {
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
}

/* Stil für die Icons im Toggle */
.toggle-icon {
    width: 2.5vw; /* 30px umgerechnet und verkleinert */
    height: 2.5vw; /* 30px umgerechnet und verkleinert */
    margin: 0 0.4vw; /* 5px umgerechnet und verkleinert */
}

.hidden {
    display: none;
}

